<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>100</real>
	<key>angleVariance</key>
	<real>101.33999633789062</real>
	<key>blendFuncDestination</key>
	<string>771</string>
	<key>blendFuncSource</key>
	<string>770</string>
	<key>configName</key>
	<string>heart</string>
	<key>duration</key>
	<string>1.50</string>
	<key>emitterType</key>
	<string>0</string>
	<key>finishColorAlpha</key>
	<string>1.00</string>
	<key>finishColorBlue</key>
	<string>1.00</string>
	<key>finishColorGreen</key>
	<string>0.90</string>
	<key>finishColorRed</key>
	<string>1.00</string>
	<key>finishColorVarianceAlpha</key>
	<string>0.00</string>
	<key>finishColorVarianceBlue</key>
	<string>0.00</string>
	<key>finishColorVarianceGreen</key>
	<string>0.00</string>
	<key>finishColorVarianceRed</key>
	<string>0.00</string>
	<key>finishParticleSize</key>
	<string>50.00</string>
	<key>finishParticleSizeVariance</key>
	<string>20.00</string>
	<key>gravityx</key>
	<string>0.00</string>
	<key>gravityy</key>
	<real>344.72000122070312</real>
	<key>maxParticles</key>
	<string>5</string>
	<key>maxRadius</key>
	<string>400.00</string>
	<key>maxRadiusVariance</key>
	<string>0.00</string>
	<key>minRadius</key>
	<string>0.00</string>
	<key>minRadiusVariance</key>
	<string>0.00</string>
	<key>particleLifespan</key>
	<string>0.7000</string>
	<key>particleLifespanVariance</key>
	<string>0.0000</string>
	<key>radialAccelVariance</key>
	<string>0.00</string>
	<key>radialAcceleration</key>
	<string>0.00</string>
	<key>rotatePerSecond</key>
	<string>0.00</string>
	<key>rotatePerSecondVariance</key>
	<string>0.00</string>
	<key>rotationEnd</key>
	<string>20.00</string>
	<key>rotationEndVariance</key>
	<string>20.00</string>
	<key>rotationStart</key>
	<string>0.00</string>
	<key>rotationStartVariance</key>
	<string>10.00</string>
	<key>sourcePositionVariancex</key>
	<string>50.00</string>
	<key>sourcePositionVariancey</key>
	<string>50.00</string>
	<key>sourcePositionx</key>
	<string>160.00</string>
	<key>sourcePositiony</key>
	<string>240.00</string>
	<key>speed</key>
	<string>200.00</string>
	<key>speedVariance</key>
	<string>100.00</string>
	<key>startColorAlpha</key>
	<string>0.50</string>
	<key>startColorBlue</key>
	<string>0.99</string>
	<key>startColorGreen</key>
	<string>0.67</string>
	<key>startColorRed</key>
	<string>1.00</string>
	<key>startColorVarianceAlpha</key>
	<string>0.00</string>
	<key>startColorVarianceBlue</key>
	<string>0.00</string>
	<key>startColorVarianceGreen</key>
	<string>0.00</string>
	<key>startColorVarianceRed</key>
	<string>0.00</string>
	<key>startParticleSize</key>
	<string>30.00</string>
	<key>startParticleSizeVariance</key>
	<string>20.00</string>
	<key>tangentialAccelVariance</key>
	<real>0.0</real>
	<key>tangentialAcceleration</key>
	<real>0.0</real>
	<key>textureFileName</key>
	<string>gr-heart.png</string>
	<key>yCoordFlipped</key>
	<integer>1</integer>
</dict>
</plist>
