<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>absolutePosition</key>
	<false/>
	<key>angle</key>
	<real>90</real>
	<key>angleVariance</key>
	<real>0.0</real>
	<key>blendFuncDestination</key>
	<integer>771</integer>
	<key>blendFuncSource</key>
	<integer>771</integer>
	<key>configName</key>
	<string>Untitled 1</string>
	<key>duration</key>
	<integer>-1</integer>
	<key>emitterType</key>
	<real>0.0</real>
	<key>finishColorAlpha</key>
	<real>0.0</real>
	<key>finishColorBlue</key>
	<real>0.60883951187133789</real>
	<key>finishColorGreen</key>
	<real>0.98417049646377563</real>
	<key>finishColorRed</key>
	<real>0.55478036403656006</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.0</real>
	<key>finishColorVarianceBlue</key>
	<real>0.0</real>
	<key>finishColorVarianceGreen</key>
	<real>0.0</real>
	<key>finishColorVarianceRed</key>
	<real>0.0</real>
	<key>finishParticleSize</key>
	<real>14.40000057220459</real>
	<key>finishParticleSizeVariance</key>
	<real>0.0</real>
	<key>gravityx</key>
	<real>0.0</real>
	<key>gravityy</key>
	<real>0.0</real>
	<key>maxParticles</key>
	<integer>22</integer>
	<key>maxRadius</key>
	<integer>0</integer>
	<key>maxRadiusVariance</key>
	<real>0.0</real>
	<key>minRadius</key>
	<integer>300</integer>
	<key>minRadiusVariance</key>
	<real>0.0</real>
	<key>particleLifespan</key>
	<real>0.63422715663909912</real>
	<key>particleLifespanVariance</key>
	<real>0.16237746179103851</real>
	<key>positionType</key>
	<integer>0</integer>
	<key>radialAccelVariance</key>
	<real>0.0</real>
	<key>radialAcceleration</key>
	<real>391.23779296875</real>
	<key>rotatePerSecond</key>
	<integer>360</integer>
	<key>rotatePerSecondVariance</key>
	<real>0.0</real>
	<key>rotationEnd</key>
	<real>180</real>
	<key>rotationEndVariance</key>
	<real>0.0</real>
	<key>rotationStart</key>
	<real>0.0</real>
	<key>rotationStartVariance</key>
	<real>0.0</real>
	<key>sourcePositionVariancex</key>
	<integer>133</integer>
	<key>sourcePositionVariancey</key>
	<integer>146</integer>
	<key>speed</key>
	<real>0.0</real>
	<key>speedVariance</key>
	<real>0.0</real>
	<key>startColorAlpha</key>
	<real>0.0</real>
	<key>startColorBlue</key>
	<real>0.0</real>
	<key>startColorGreen</key>
	<real>0.92436212301254272</real>
	<key>startColorRed</key>
	<real>1</real>
	<key>startColorVarianceAlpha</key>
	<real>0.0</real>
	<key>startColorVarianceBlue</key>
	<real>0.0</real>
	<key>startColorVarianceGreen</key>
	<real>0.0</real>
	<key>startColorVarianceRed</key>
	<real>0.0</real>
	<key>startParticleSize</key>
	<real>6.1019611358642578</real>
	<key>startParticleSizeVariance</key>
	<real>25.882354736328125</real>
	<key>tangentialAccelVariance</key>
	<real>30.2083740234375</real>
	<key>tangentialAcceleration</key>
	<real>207.4755859375</real>
	<key>textureFileName</key>
	<string>pop-stars.png</string>
	<key>textureImageData</key>
	<string></string>
	<key>yCoordFlipped</key>
	<integer>1</integer>
</dict>
</plist>
