<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>absolutePosition</key>
	<false/>
	<key>angle</key>
	<real>51.082721710205078</real>
	<key>angleVariance</key>
	<real>60.424633026123047</real>
	<key>blendFuncDestination</key>
	<real>772</real>
	<key>blendFuncSource</key>
	<real>770</real>
	<key>configName</key>
	<string>pr-vip-monster</string>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<real>0.0</real>
	<key>finishColorAlpha</key>
	<real>0.94999998807907104</real>
	<key>finishColorBlue</key>
	<real>0.22038599848747253</real>
	<key>finishColorGreen</key>
	<real>0.38811466097831726</real>
	<key>finishColorRed</key>
	<real>0.89548647403717041</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.32000000000000001</real>
	<key>finishColorVarianceBlue</key>
	<real>0.11000000000000001</real>
	<key>finishColorVarianceGreen</key>
	<real>0.11000000000000001</real>
	<key>finishColorVarianceRed</key>
	<real>0.47000000000000003</real>
	<key>finishParticleSize</key>
	<real>0.0</real>
	<key>finishParticleSizeVariance</key>
	<real>0.0</real>
	<key>gravityx</key>
	<real>-262.7451171875</real>
	<key>gravityy</key>
	<real>285.294189453125</real>
	<key>maxParticles</key>
	<integer>51</integer>
	<key>maxRadius</key>
	<real>235.79000000000002</real>
	<key>maxRadiusVariance</key>
	<real>0.0</real>
	<key>minRadius</key>
	<real>0.0</real>
	<key>minRadiusVariance</key>
	<real>0.0</real>
	<key>particleLifespan</key>
	<real>2.2767086029052734</real>
	<key>particleLifespanVariance</key>
	<real>0.0</real>
	<key>positionType</key>
	<integer>0</integer>
	<key>radialAccelVariance</key>
	<real>-659.85000000000002</real>
	<key>radialAcceleration</key>
	<real>-819.16999999999996</real>
	<key>rotatePerSecond</key>
	<real>0.0</real>
	<key>rotatePerSecondVariance</key>
	<real>0.0</real>
	<key>rotationEnd</key>
	<real>-53.920000000000002</real>
	<key>rotationEndVariance</key>
	<real>-90.489999999999995</real>
	<key>rotationStart</key>
	<real>-200</real>
	<key>rotationStartVariance</key>
	<real>360</real>
	<key>sourcePositionVariancex</key>
	<integer>163</integer>
	<key>sourcePositionVariancey</key>
	<integer>0</integer>
	<key>sourcePositionx</key>
	<real>160</real>
	<key>sourcePositiony</key>
	<real>240</real>
	<key>speed</key>
	<real>0.0</real>
	<key>speedVariance</key>
	<real>9.9199999999999999</real>
	<key>startColorAlpha</key>
	<real>0.31000000238418579</real>
	<key>startColorBlue</key>
	<real>0.0</real>
	<key>startColorGreen</key>
	<real>0.40952649712562561</real>
	<key>startColorRed</key>
	<real>0.96922558546066284</real>
	<key>startColorVarianceAlpha</key>
	<real>0.14999999999999999</real>
	<key>startColorVarianceBlue</key>
	<real>0.51000000000000001</real>
	<key>startColorVarianceGreen</key>
	<real>0.02</real>
	<key>startColorVarianceRed</key>
	<real>0.31</real>
	<key>startParticleSize</key>
	<real>65.73333740234375</real>
	<key>startParticleSizeVariance</key>
	<real>11.356863021850586</real>
	<key>tangentialAccelVariance</key>
	<real>2.6700000762939453</real>
	<key>tangentialAcceleration</key>
	<real>-297.07998657226562</real>
	<key>textureFileName</key>
	<string>pr-vip-monster.png</string>
	<key>textureImageData</key>
	<string></string>
	<key>yCoordFlipped</key>
	<integer>1</integer>
</dict>
</plist>
