<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>absolutePosition</key>
	<false/>
	<key>angle</key>
	<real>0.0</real>
	<key>angleVariance</key>
	<real>0.0</real>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>775</integer>
	<key>configName</key>
	<string>vipParticle1</string>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<real>0.0</real>
	<key>finishColorAlpha</key>
	<real>0.0</real>
	<key>finishColorBlue</key>
	<real>0.27546930313110352</real>
	<key>finishColorGreen</key>
	<real>0.27547323703765869</real>
	<key>finishColorRed</key>
	<real>0.27546593546867371</real>
	<key>finishColorVarianceAlpha</key>
	<real>1</real>
	<key>finishColorVarianceBlue</key>
	<real>0.0</real>
	<key>finishColorVarianceGreen</key>
	<real>0.0</real>
	<key>finishColorVarianceRed</key>
	<real>0.0</real>
	<key>finishParticleSize</key>
	<real>0.0</real>
	<key>finishParticleSizeVariance</key>
	<real>91.7490234375</real>
	<key>gravityx</key>
	<real>0.0</real>
	<key>gravityy</key>
	<real>138.296630859375</real>
	<key>maxParticles</key>
	<integer>30</integer>
	<key>maxRadius</key>
	<real>397.00999999999999</real>
	<key>maxRadiusVariance</key>
	<real>439.03999999999996</real>
	<key>minRadius</key>
	<real>48.450000000000003</real>
	<key>minRadiusVariance</key>
	<real>0.0</real>
	<key>particleLifespan</key>
	<real>2.0346653461456299</real>
	<key>particleLifespanVariance</key>
	<real>0.52175247669219971</real>
	<key>positionType</key>
	<integer>0</integer>
	<key>radialAccelVariance</key>
	<real>0.0</real>
	<key>radialAcceleration</key>
	<real>3.186279296875</real>
	<key>rotatePerSecond</key>
	<real>0.0</real>
	<key>rotatePerSecondVariance</key>
	<real>0.0</real>
	<key>rotationEnd</key>
	<real>0.0</real>
	<key>rotationEndVariance</key>
	<real>0.0</real>
	<key>rotationStart</key>
	<real>0.0</real>
	<key>rotationStartVariance</key>
	<real>0.0</real>
	<key>sourcePositionVariancex</key>
	<integer>135</integer>
	<key>sourcePositionVariancey</key>
	<integer>12</integer>
	<key>speed</key>
	<real>0.0</real>
	<key>speedVariance</key>
	<real>2</real>
	<key>startColorAlpha</key>
	<real>0.5</real>
	<key>startColorBlue</key>
	<real>0.0</real>
	<key>startColorGreen</key>
	<real>0.89050513505935669</real>
	<key>startColorRed</key>
	<real>1</real>
	<key>startColorVarianceAlpha</key>
	<real>1</real>
	<key>startColorVarianceBlue</key>
	<real>0.0</real>
	<key>startColorVarianceGreen</key>
	<real>0.0</real>
	<key>startColorVarianceRed</key>
	<real>0.0</real>
	<key>startParticleSize</key>
	<real>20.486276626586914</real>
	<key>startParticleSizeVariance</key>
	<real>143.22354125976562</real>
	<key>tangentialAccelVariance</key>
	<real>-29.2891845703125</real>
	<key>tangentialAcceleration</key>
	<real>0.0</real>
	<key>textureFileName</key>
	<string>vipParticle1.png</string>
	<key>textureImageData</key>
	<string></string>
	<key>yCoordFlipped</key>
	<integer>1</integer>
</dict>
</plist>
