<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>absolutePosition</key>
	<false/>
	<key>angle</key>
	<real>360</real>
	<key>angleVariance</key>
	<real>360</real>
	<key>blendFuncDestination</key>
	<real>1</real>
	<key>blendFuncSource</key>
	<real>775</real>
	<key>configName</key>
	<string>vipParticle2</string>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<real>0.0</real>
	<key>finishColorAlpha</key>
	<real>0.8399999737739563</real>
	<key>finishColorBlue</key>
	<real>0.10434537380933762</real>
	<key>finishColorGreen</key>
	<real>0.92100816965103149</real>
	<key>finishColorRed</key>
	<real>0.84271717071533203</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.14163604378700256</real>
	<key>finishColorVarianceBlue</key>
	<real>0.0</real>
	<key>finishColorVarianceGreen</key>
	<real>0.0</real>
	<key>finishColorVarianceRed</key>
	<real>0.0</real>
	<key>finishParticleSize</key>
	<real>30.32</real>
	<key>finishParticleSizeVariance</key>
	<real>10.109999999999999</real>
	<key>gravityx</key>
	<real>0.25</real>
	<key>gravityy</key>
	<real>386.88720703125</real>
	<key>maxParticles</key>
	<integer>27</integer>
	<key>maxRadius</key>
	<real>10</real>
	<key>maxRadiusVariance</key>
	<real>20</real>
	<key>minRadius</key>
	<real>0.0</real>
	<key>minRadiusVariance</key>
	<real>0.0</real>
	<key>particleLifespan</key>
	<real>1.0021698474884033</real>
	<key>particleLifespanVariance</key>
	<real>0.91360294818878174</real>
	<key>positionType</key>
	<integer>0</integer>
	<key>radialAccelVariance</key>
	<real>65.789999999999992</real>
	<key>radialAcceleration</key>
	<real>-431.37255859375</real>
	<key>rotatePerSecond</key>
	<real>0.0</real>
	<key>rotatePerSecondVariance</key>
	<real>0.0</real>
	<key>rotationEnd</key>
	<real>-47.369999999999997</real>
	<key>rotationEndVariance</key>
	<real>-142.10999999999999</real>
	<key>rotationStart</key>
	<real>-47.369999999999997</real>
	<key>rotationStartVariance</key>
	<real>-47.369999999999997</real>
	<key>sourcePositionVariancex</key>
	<integer>89</integer>
	<key>sourcePositionVariancey</key>
	<integer>18</integer>
	<key>sourcePositionx</key>
	<real>512</real>
	<key>sourcePositiony</key>
	<real>384</real>
	<key>speed</key>
	<real>0.0</real>
	<key>speedVariance</key>
	<real>89.767158508300781</real>
	<key>startColorAlpha</key>
	<real>0.63999998569488525</real>
	<key>startColorBlue</key>
	<real>0.6187901496887207</real>
	<key>startColorGreen</key>
	<real>0.68649494647979736</real>
	<key>startColorRed</key>
	<real>0.5492091178894043</real>
	<key>startColorVarianceAlpha</key>
	<real>0.10379902273416519</real>
	<key>startColorVarianceBlue</key>
	<real>0.0</real>
	<key>startColorVarianceGreen</key>
	<real>0.0</real>
	<key>startColorVarianceRed</key>
	<real>0.0</real>
	<key>startParticleSize</key>
	<real>3.3700000000000001</real>
	<key>startParticleSizeVariance</key>
	<real>64</real>
	<key>tangentialAccelVariance</key>
	<real>65.790000915527344</real>
	<key>tangentialAcceleration</key>
	<real>-92.110000610351562</real>
	<key>textureFileName</key>
	<string>vipParticle2.png</string>
	<key>textureImageData</key>
	<string></string>
	<key>yCoordFlipped</key>
	<integer>1</integer>
</dict>
</plist>
