<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt-skillDark</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,94}</string>
                <key>textureRect</key>
                <string>{{600,214},{90,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-skillEarth</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,94}</string>
                <key>textureRect</key>
                <string>{{502,294},{90,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-skillFire</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,90}</string>
                <key>spriteSourceSize</key>
                <string>{94,90}</string>
                <key>textureRect</key>
                <string>{{502,200},{94,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-skillFire.</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,94}</string>
                <key>textureRect</key>
                <string>{{596,312},{90,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-skillGlow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,114}</string>
                <key>spriteSourceSize</key>
                <string>{110,114}</string>
                <key>textureRect</key>
                <string>{{602,96},{110,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-skillLegendary</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,94}</string>
                <key>textureRect</key>
                <string>{{690,390},{90,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-skillMagic</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,94}</string>
                <key>textureRect</key>
                <string>{{4,392},{90,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-skillMetal</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,94}</string>
                <key>textureRect</key>
                <string>{{98,186},{90,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-skillNature</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,94}</string>
                <key>textureRect</key>
                <string>{{4,186},{90,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-skillPhysical</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,94}</string>
                <key>textureRect</key>
                <string>{{236,212},{90,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-skillPure</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,94}</string>
                <key>textureRect</key>
                <string>{{98,284},{90,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-skillSelectedOff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,94}</string>
                <key>textureRect</key>
                <string>{{4,284},{90,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-skillThunder</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,94}</string>
                <key>textureRect</key>
                <string>{{236,310},{90,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-skillWater</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,94}</string>
                <key>textureRect</key>
                <string>{{98,382},{90,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-specialSkill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,76}</string>
                <key>spriteSourceSize</key>
                <string>{228,76}</string>
                <key>textureRect</key>
                <string>{{4,106},{228,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-battleBarBG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{694,276},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-battleFillBlue</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,10}</string>
                <key>spriteSourceSize</key>
                <string>{6,10}</string>
                <key>textureRect</key>
                <string>{{694,294},{6,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-battleFillGreen</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,6}</string>
                <key>spriteSourceSize</key>
                <string>{2,6}</string>
                <key>textureRect</key>
                <string>{{824,200},{2,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-battleFillRed</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,10}</string>
                <key>spriteSourceSize</key>
                <string>{6,10}</string>
                <key>textureRect</key>
                <string>{{694,308},{6,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-battleFillYellow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,10}</string>
                <key>spriteSourceSize</key>
                <string>{6,10}</string>
                <key>textureRect</key>
                <string>{{690,322},{6,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-battleHud</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,88}</string>
                <key>spriteSourceSize</key>
                <string>{371,88}</string>
                <key>textureRect</key>
                <string>{{398,4},{371,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-battleProfileGreen</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{236,106},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-battleProfileGreenSmall</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{764,326},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-battleProfileRed</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{396,200},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-battleProfileRedSmall</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{330,232},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-frameStatusEffect</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{398,96},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-specialSkill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,98}</string>
                <key>spriteSourceSize</key>
                <string>{390,98}</string>
                <key>textureRect</key>
                <string>{{4,4},{390,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-accuracy</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{192,186},{40,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-accuracyGreen</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{192,232},{40,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-accuracyYellow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{192,278},{40,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-battle-items</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,58}</string>
                <key>spriteSourceSize</key>
                <string>{46,58}</string>
                <key>textureRect</key>
                <string>{{438,425},{46,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-battle-recharge</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{596,410},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-battleSkillLocked</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,66}</string>
                <key>spriteSourceSize</key>
                <string>{56,66}</string>
                <key>textureRect</key>
                <string>{{770,130},{56,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillDark</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{488,448},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillDarkIcon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{773,4},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillDarkIconSelected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{773,67},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillEarth</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{718,348},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillEarthIcon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{716,96},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillEarthIconSelected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{716,159},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillFire</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{192,324},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillFireIcon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{770,200},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillFireIconSelected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{342,106},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillLegendary</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{192,358},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillLegendaryIcon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,60}</string>
                <key>spriteSourceSize</key>
                <string>{42,60}</string>
                <key>textureRect</key>
                <string>{{784,390},{42,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillLegendaryIconSelected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,60}</string>
                <key>spriteSourceSize</key>
                <string>{42,60}</string>
                <key>textureRect</key>
                <string>{{550,392},{42,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillMagic</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{784,454},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillMagicIcon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{342,169},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillMagicIconSelected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{716,222},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillMetal</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{192,392},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillMetalIcon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{438,369},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillMetalIconSelected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{494,392},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillNature</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{690,348},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillNatureIcon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{770,263},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillNatureIconSelected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{710,285},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillPhysical</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{192,420},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillPhysicalIcon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{330,296},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillPhysicalIconSelected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{384,306},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillPure</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{192,450},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillPureIcon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{330,359},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillPureIconSelected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{220,408},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillThunder</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{694,246},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillThunderIcon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{274,408},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillThunderIconSelected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{438,306},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillWater</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{694,214},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillWaterIcon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{384,369},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-skillWaterIconSelected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{328,422},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battleHUD.png</string>
            <key>size</key>
            <string>{830,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51b0870d3e1843bfe11a55d5b5aae0f6:9785fbee4a526430d9e2ed8803ae8ac8:01e427ff08b46f658c72fa7a2d7372a5$</string>
            <key>textureFileName</key>
            <string>battleHUD.png</string>
        </dict>
    </dict>
</plist>
