<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gr-bar-background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,24}</string>
                <key>spriteSourceSize</key>
                <string>{6,24}</string>
                <key>textureRect</key>
                <string>{{128,152},{6,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-bar-border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,28}</string>
                <key>spriteSourceSize</key>
                <string>{10,28}</string>
                <key>textureRect</key>
                <string>{{144,136},{10,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-bar-fill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,12}</string>
                <key>spriteSourceSize</key>
                <string>{4,12}</string>
                <key>textureRect</key>
                <string>{{158,136},{4,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-circle-full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{4,136},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-circle-stroke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{66,136},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-halo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,128}</string>
                <key>spriteSourceSize</key>
                <string>{215,128}</string>
                <key>textureRect</key>
                <string>{{4,4},{215,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-spark-attack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{128,136},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-stick-team.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,4}</string>
                <key>spriteSourceSize</key>
                <string>{8,4}</string>
                <key>textureRect</key>
                <string>{{158,152},{8,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BossIsland.png</string>
            <key>size</key>
            <string>{223,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50caee13ad438e619952ff8b4e41dc2d:3a5467f882916828ae6ec62d24945164:2b481ae862c0bd7c347a63477b6b5dae$</string>
            <key>textureFileName</key>
            <string>BossIsland.png</string>
        </dict>
    </dict>
</plist>
