<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gr-perk-multiple-frame-white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,184}</string>
                <key>spriteSourceSize</key>
                <string>{184,184}</string>
                <key>textureRect</key>
                <string>{{4,4},{184,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-perk-multiple-frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,184}</string>
                <key>spriteSourceSize</key>
                <string>{184,184}</string>
                <key>textureRect</key>
                <string>{{4,192},{184,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-perk-single-frame-white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,184}</string>
                <key>spriteSourceSize</key>
                <string>{184,184}</string>
                <key>textureRect</key>
                <string>{{4,380},{184,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-perk-single-frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,184}</string>
                <key>spriteSourceSize</key>
                <string>{184,184}</string>
                <key>textureRect</key>
                <string>{{4,568},{184,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-relic-slot-empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{380,508},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-relic-square-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{380,4},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-relic-square-bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{380,172},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-relic-square-glow-tiers.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{380,340},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-relic-square-glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,184}</string>
                <key>spriteSourceSize</key>
                <string>{184,184}</string>
                <key>textureRect</key>
                <string>{{192,4},{184,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-perk-blank-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,184}</string>
                <key>spriteSourceSize</key>
                <string>{184,184}</string>
                <key>textureRect</key>
                <string>{{192,192},{184,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-perk-legendary-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,184}</string>
                <key>spriteSourceSize</key>
                <string>{184,184}</string>
                <key>textureRect</key>
                <string>{{192,380},{184,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-perk-white-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,184}</string>
                <key>spriteSourceSize</key>
                <string>{184,184}</string>
                <key>textureRect</key>
                <string>{{192,568},{184,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-relic-xp-boost-super.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,60}</string>
                <key>spriteSourceSize</key>
                <string>{50,60}</string>
                <key>textureRect</key>
                <string>{{380,656},{50,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-relic-xp-boost.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,60}</string>
                <key>spriteSourceSize</key>
                <string>{50,60}</string>
                <key>textureRect</key>
                <string>{{434,656},{50,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-relic-xp-glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,60}</string>
                <key>spriteSourceSize</key>
                <string>{50,60}</string>
                <key>textureRect</key>
                <string>{{488,656},{50,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Relics.png</string>
            <key>size</key>
            <string>{548,756}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18f32105c471a6fc0d15a9ec9d1ec59b:5313aafdde3b4414e34f5e83b0cc3946:1f3bb6d15db863c5862c989a700396b4$</string>
            <key>textureFileName</key>
            <string>Relics.png</string>
        </dict>
    </dict>
</plist>
