<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt-blue-xpromo.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,172},{84,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,64}}</string>
                <key>sourceSize</key>
                <string>{86,64}</string>
            </dict>
            <key>bt-close-xpromo.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,172},{56,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{56,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bt-transparent-xpromo.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,230},{2,2}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>gr-blackscroll-xpromo.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,52},{34,8}}</string>
                <key>offset</key>
                <string>{0.5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,8}}</string>
                <key>sourceSize</key>
                <string>{33,10}</string>
            </dict>
            <key>gr-flag-xpromo.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,52},{184,116}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,116}}</string>
                <key>sourceSize</key>
                <string>{184,115}</string>
            </dict>
            <key>gr-gradient-xpromo.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,172},{22,44}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,44}}</string>
                <key>sourceSize</key>
                <string>{22,43}</string>
            </dict>
            <key>ic-socialpointlogo-xpromo.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{228,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{228,44}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp-cross-promotion.png</string>
            <key>size</key>
            <string>{240,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af8aece85bc3b0a19cd62d3192d4ecfb:cc6405c17d02fc091f2e78e7eac25cb4:270b7f5878fbe6813c638e6f6bc2c935$</string>
            <key>textureFileName</key>
            <string>sp-cross-promotion.png</string>
        </dict>
    </dict>
</plist>
