<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>war_button_anim0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,61}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{61,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0002</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{61,61}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{61,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0003</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{61,63}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,16},{61,63}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0004</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{75,61}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,18},{75,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0005</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{103,61}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{103,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{103,61}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{103,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0007</key>
            <dict>
                <key>frame</key>
                <string>{{107,65},{101,61}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{101,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0008</key>
            <dict>
                <key>frame</key>
                <string>{{210,65},{101,61}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{101,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0009</key>
            <dict>
                <key>frame</key>
                <string>{{313,65},{99,61}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{99,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{99,61}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{99,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0011</key>
            <dict>
                <key>frame</key>
                <string>{{103,128},{99,61}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{99,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0012</key>
            <dict>
                <key>frame</key>
                <string>{{204,128},{99,61}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{99,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0013</key>
            <dict>
                <key>frame</key>
                <string>{{305,128},{61,65}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,14},{61,65}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0014</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{61,61}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{61,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0015</key>
            <dict>
                <key>frame</key>
                <string>{{372,128},{61,61}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{61,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{61,61}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{61,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0017</key>
            <dict>
                <key>frame</key>
                <string>{{65,191},{67,61}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{67,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0018</key>
            <dict>
                <key>frame</key>
                <string>{{134,191},{71,61}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{71,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0019</key>
            <dict>
                <key>frame</key>
                <string>{{207,191},{73,61}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,18},{73,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0020</key>
            <dict>
                <key>frame</key>
                <string>{{282,191},{79,61}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,18},{79,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0021</key>
            <dict>
                <key>frame</key>
                <string>{{191,317},{83,63}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,17},{83,63}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0022</key>
            <dict>
                <key>frame</key>
                <string>{{276,317},{85,65}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{85,65}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0023</key>
            <dict>
                <key>frame</key>
                <string>{{363,317},{71,65}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{71,65}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0024</key>
            <dict>
                <key>frame</key>
                <string>{{363,191},{61,61}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{61,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0025</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{61,61}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{61,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0026</key>
            <dict>
                <key>frame</key>
                <string>{{65,254},{61,61}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{61,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0027</key>
            <dict>
                <key>frame</key>
                <string>{{128,254},{61,61}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{61,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0028</key>
            <dict>
                <key>frame</key>
                <string>{{191,254},{61,61}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{61,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0029</key>
            <dict>
                <key>frame</key>
                <string>{{254,254},{61,61}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{61,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0030</key>
            <dict>
                <key>frame</key>
                <string>{{317,254},{61,61}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{61,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0031</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{61,61}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{61,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0032</key>
            <dict>
                <key>frame</key>
                <string>{{65,317},{61,61}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{61,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0033</key>
            <dict>
                <key>frame</key>
                <string>{{128,317},{61,61}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{61,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>war_button_anim0034</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,61}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{61,61}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>war_button_anim.png</string>
            <key>size</key>
            <string>{438,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32ff524dfa19aa8cb7db64aa8ba925fb:cb9bdcfb6e7e587bc1c1c9e7e7c78da6:864322fbc79fe8369c4599676b3fd6a5$</string>
            <key>textureFileName</key>
            <string>war_button_anim.png</string>
        </dict>
    </dict>
</plist>
