<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-frameBlue2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{40,58}</string>
                <key>textureRect</key>
                <string>{{4,4},{40,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-bar-empty-gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{48,4},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-bar-progress-blue-highlight-small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{48,52},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-bar-progress-blue-highlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{48,28},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-bar-progress-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{4,94},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-bg-progress-bar-bg-black-mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{28,94},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-bg-progress-bar-black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,24}</string>
                <key>spriteSourceSize</key>
                <string>{64,24}</string>
                <key>textureRect</key>
                <string>{{4,66},{64,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-bg-progress-bar-blue-mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{60,52},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-bg-progress-bar-empty-gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{46,94},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-bg-progress-bar-yellow-mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{58,94},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>progressBarAtlas.png</string>
            <key>size</key>
            <string>{72,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f8965d1bd8ad40b1aeaf4665a359a96:29730555f79f254560d00515c17ce24a:dd3f1f5ed59c84ce79553cb275e831db$</string>
            <key>textureFileName</key>
            <string>progressBarAtlas.png</string>
        </dict>
    </dict>
</plist>
